body {
    background-image: url('images.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 92%;
    max-width: 400px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

header p {
    margin: 5px 0;
}

main {
    padding: 20px;
}

.predictions {
    margin: 20px 0;
}

.predictions input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 22px);
}

.predictions button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-family: Times New Roman;
}

.predictions button:hover {
    background-color: #0056b3;
    
}

.links {
    margin-top: 20px;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.links a:hover {
    background-color: #218838;
}

#tete {
    color: blue;
    font-family: Times New Roman;
    font-size: 15px;
    text-align: center;
}

header p#welcome {
    background-color: ;
    font-family: Times New Roman;
    margin-top: 50px;
    font-size: 20px;
}

#msg {
    color: white;
}

#outputMessage {
    font-family: Times New Roman;
}

#teamAInput {
    font-family: Times New Roman;
}

#teamBInput {
    font-family: Times New Roman;
}
#prediction {
    font-family: Times New Roman;
}